.aside{
    background-color: var(--bgPanel);
    max-width: 400px;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.asideTopContent .services{
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.asideMainBody h3{
    margin: 10px 0;
}

.asideMainBody .openModule{
    width: 120px;    
    display: block;
    cursor: pointer;
}

.asideMainBody ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.asideMainBody ul li{
    cursor: pointer;
    height: 25px;
    max-width: 220px;
    transition: all 200ms ease;
}
.asideMainBody ul li:hover {
    color: var(--textListHover);
}
.asideMainBody .listContent{
    margin-top: 5px ;
    margin-left: 15px;
}
.aside ul li svg{
    margin-right: 5px;
}

.rotateArrow{
    animation:  rotateArrow 100ms 1 linear both;
}
.paddingList{
    padding-left: 15px;
}

@keyframes rotateArrow {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(-90deg);
    }
}