.gallery_modal{
    position: absolute;
    top: 0;

    height: 100%;
    max-height: 100vh;
    width: 100%;
    z-index: 20;

    background-color:var(--bgCardItem);

    display: flex;
    padding: 0 25px;
    user-select: none;
    justify-content: space-between;

}

.gallery_items_navigation{
    max-height: 100vh;
    width: 120px;
    padding: 25px 0;
}

.gallery_items_navigation ul{
    user-select: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    height: 100%;
    overflow-y: auto;
}
.gallery_items_navigation ul li{
    height: 100px;
}

.gallery_items_navigation img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.modal_close {
    padding: 25px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.modal_close button{
    background-color: var(--inputClose);
    font-size: 16pt;
    border: none;
    padding: 0;
    padding: 15px;
    margin-left: 5px;
}

.gallery_items{
    width: 100%;
    max-height: 100vh;
    padding: 0 50px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
.contentItem{
    width: 100%;
}
.gallery_items img{
    
    object-fit: contain;
    height: 100vh;
    width: 100%;

    scroll-snap-align: start;
    flex-shrink: 0;
}

@media screen and (max-width:768px) {
    .gallery_modal{
        position: relative;
        height: 100vh;
        background-color: var(--bgCardItem);
    }
    .gallery_items{
        position: absolute;
        
        z-index: 10;
        padding: 0;

        left: 0;
        right: 0;
        
    }
    .gallery_items img{
        object-fit: contain;
    }
    .gallery_items_navigation{
        z-index: 100;
        /*background-color: var(--bgCardItem);*/
    }
    .modal_close{
        z-index: 100;
        position: absolute;
        top: 25px;
        right: 15px;
    }
    .gallery_items_navigation{
        width: 80px;
        padding: 5px;
    }
    .gallery_items_navigation ul li{
        height: 80px;
    }
}
