.goSideBar{
    display:flex;
    align-items:center;
    justify-content:center;

    flex-shrink:0;

    width:28px;
    height:28px;

    border-radius:6px;

    color:var(--tbdefault);

    border-left:1px solid var(--panelBorder);
    padding-left:8px;   

    cursor:pointer;

    transition:
        color .2s,
        transform .25s,
        background .2s;
}

.goSideBar:hover{
    background:var(--bg-default);
}

.goSideBar.active{
    color:var(--tbActive);
}

.goSideBar.disabled{
    opacity:.35;
    pointer-events:none;
    color:var(--tbDisabled);
}