.tab-bar-content{
    display: flex;
    flex: 1;
    align-items: center;
}

.bt-expandContent{
    width: 55px;
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: var(--bgPanel);
}
.bt-sidebar-expand{
    position: absolute;
    right: 5px;
    border-radius: 5px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    transition: transform 300ms ease;
}

.bt-sidebar-expand.active{
    transform: rotate(180deg);
}

.tabs-bar{
    background-color: var(--bgPanel);
    border-bottom: 1px solid var(--panelBorder);
    padding: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    position: relative;
}

.tabs-bar ul{
    list-style: none;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}
.tabs-bar ul li{
    height: 25px;
    margin-right: 5px;
    flex-shrink: 0;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    border-radius: 5px;
    color: var(--textTab);
    background-color: var(--btTab);
    transition: all 200ms ease;
}
.closeSvg{
    height: 20px;
    width: 20px;
    font-weight: bolder;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: all 200ms ease;
}

.tabs-bar ul li:hover{
    opacity: 0.8;
    cursor: pointer;
}
.closeSvg:hover{
    border-color: var(--txtDanger);
    color: var(--txtDanger);
}

.workspace{
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 380px;
}

.workspace-content{
    flex: 1;
    display: flex;
    position: relative;
}

.opened-module{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}
.moduleo-content{
    padding: 50px 0;
    margin: 0 auto;
    max-width: 610px;
    width: 100%;
}
@media only screen and (max-width:780px){
    .workspace{
        min-width: 100%;
        padding-left: 45px;
    }
    .bt-expandContent{
        width: 45px;
    }
}

@media only screen and (max-width:480px){
    .workspace{
        min-width: 80%;
        padding-left: 30px;
    }
}