.workspace{
    width: 100%;
}

.tabs-bar{
    background-color: var(--bgPanel);
    border-bottom: 1px solid var(--panelBorder);
    padding: 5px;
    height: 40px;
    display: flex;
    align-items: center;
}

.tabs-bar ul{
    list-style: none;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}
.tabs-bar ul li{
    height: 25px;
    margin-right: 5px;
    flex-shrink: 0;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    border-radius: 5px;
    color: var(--textTab);
    background-color: var(--btTab);
    transition: all 200ms ease;
}
.closeSvg{
    height: 20px;
    width: 20px;
    font-weight: bolder;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: all 200ms ease;
}

.tabs-bar ul li:hover{
    opacity: 0.8;
    cursor: pointer;
}
.closeSvg:hover{
    border-color: var(--txtDanger);
    color: var(--txtDanger);
}

