.md-image{
    width:180px;
    aspect-ratio:1;
    border-radius:12px;
    overflow:hidden;
    background:var(--bgCardItem);
    flex-shrink:0;
}

.md-image img{
    width:100%;
    height:100%;
    object-fit:contain;
}

.md-info{
    flex:1;

    display:grid;
    grid-template-columns:repeat(2,minmax(220px,1fr));
    gap:15px;
}

.md-item{
    background:var(--bgCardItem);
    border-radius:10px;
    padding:14px 18px;

    display:flex;
    flex-direction:column;
    gap:6px;
}

.md-item span{
    font-size:.85rem;
    opacity:.7;
}

.md-item strong{
    font-size:1rem;
}

.button-remove{
    background-color: #dc3545;
    color: #ffff;
}
.button-cancel{
    background-color: orange;
    color: #ffff;
}

@media(max-width:900px){

    .md-card-row{
        flex-direction:column;
    }

    .md-image{
        width:100%;
        max-width:280px;
        margin:auto;
    }

    .md-info{
        grid-template-columns:1fr;
    }
}