
.scob-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: var(--content);
    height: 100%;
    
    padding: 10px 5px;
    margin: 0 auto;

    z-index: 100;

    transition: all 300ms ease;
}

.scob-content input{
     height: 35px;
     border: 1px solid var(--inptBorder);
     background-color: var(--inptBg);
     color: var(--inptText);
     border-radius: 5px;
     flex: 1;
     padding-left: 15px;
     outline: 1px solid var(--inptBorder);
}

.title_form_step{ display: flex; margin-bottom: 10px;}

.title_form_step h2{
    display: flex;
    align-items: center;
    color: var(--green-strong);
}
.title_form_step svg {
    color: var(--green-strong);
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

/*CARDS*/
.p-card{
    background-color: var(--bgCardItem);
    border: 1px solid var(--borderCard);
    border-radius: 10px;
    
    padding: 15px;
}

.card-title{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.card-title h4{
    font-size: 12pt;
}
.card-title span{
    font-size: 16pt;
    color: var(--green-strong);
}

.p-card h3{
    margin-bottom: 15px;
    font-size: 1.1rem;
    font-weight: 600;
}

.p-card-content{
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 16px;
}
.p-tab{
    position: relative;

    border: 1px solid var(--borderCard);
    border-radius: 10px ;

    padding: 16px;

    min-height: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: .2s ease;
}

.p-tab:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0,0,0,.05);
}

.p-tab::before{
    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 5px;
    border-radius: 10px 10px 0 0 ;

    background: var(--borderCardActive);
}
/*  TEXT  */

.p-tab-text{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.p-tab-text span{
    font-size: .85rem;
    color: var(--textCard);
}

.p-tab-text strong{
    font-size: 1.4rem;
    font-weight: 700;
    color:  var(--borderCardActive);
}

.p-tab-svg{
    flex-shrink: 0;

    width: 35px;
    height: 35px;

    color:  var(--textCardActive);

    background:  var(--borderCardActive);

    padding: 10px;

    border-radius: 10px;
}

.buttons-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.input-search{
    flex: 1;
    position: relative;
    height: 35px;
}
.input-search input{
    width: 100%;
    max-width: none;

    padding-left: 35px;
    padding-right: 10px;
    margin: 0;
}
.input-search svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    padding: 5px;
}
.row-content{
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
}

