*{
    box-sizing: border-box;
    padding: 0;
    user-select: none;
    margin: 0;
}

main.container{
    min-height: 100vh;
}

:root {
    --background: #ffffff;
    --bgGradientColor1: #e4e4e46c;
    --bgGradientColor2: #e4e4e4b7;
    --bgGradientColor3:#16325B;

    --txt-err: red;
    --text: #6C757D;
    --text-hover:#184369;
    --txt-strong: black;

    --button: transparent;
    --border: #cccc;
    --buttonTxtColor:#6C757D;
    --buttonBorderColor:#6C757D;

    --bg-default: #ffff;
    --bt-primary: #487CFF;
    --bt-txt-primary: #FFFF;
}

[data-theme="dark"] {
    --background: #222222;
    --text: #ffffff;
    --button: #6C757D;
    --buttonTxtColor:#ffff;
    --border: #797979cc;
    --buttonBorderColor:transparent
}

body {
    background: var(--background);
    color: var(--text);
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background: var(--button);
    color: var(--buttonTxtColor);
    border: 1px solid var(--buttonBorderColor);
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    justify-content: space-between;
    transition: 200ms ease;
}
button:hover{
    opacity: 0.8;
}
