
:root {
    /*DefaultCardsColors*/
    --bgCardItem: #ffff;
    --bgCardSubITem: #f6f6f6;
    --borderCard:  #d1d5db;
    --borderCardActive: #16a34a;
    --borderCardDisable:#15803d;
    --bgCartItemActive: #f0fdf4;
    --textCardActive:#fff;
    --textCardStrong:  #111827;
    --textCard: #374151;
    --textCardLast: #9ca3af;

    /*Buttons form*/
    --btBgColor:#F5F5F5;
    --btBdColor: #e7e7e7;
    --btTxColor: #222222;
    --btSwColor: #15803d;

    /*background principais da aplicação*/
    --background: #ffff;
    --bgPanel:#F4F4F4;
    --bg-default: #fafafa;
    --bgDef: #ffff;
    --panelBorder:#CDCDCD;

    --bgGradientColor1: #e4e4e46c;
    --bgGradientColor2: #72727200;
    --bgGradientColor3:#79797960;

    /*principais cores de texto*/
    --txt-err: red;
    --bgError: #f5f5f5;
    --borderError: #374151;
    --bgErrorForm: #f5f5f5 ;
    --txtErrorForm: #727272 ;
    --txtSalle: #060729;


    --txtDanger:#c92b52;
    --text: #6C757D;
    --txt-strong: black;

    /*principais cores de texto açoes de usuario*/
    --text-hover:#184369;
    --textListHover: #184369; 
    
    --bgListSelect : #184369;
    --txtListSelect: #F5F5F5;
     
    --bgListHover : #215885;
    --txtListHover: #F5F5F5;

    /*princiapais cores de input*/
    --inptBg:#ffffff;
    --inptBorder: #cccc; 
    --inptText: #6c757d;
    --inptDanger: #DC3545;
    --inptWarning: #dc5c35;
    --inptTextLight: #f0f0f0;
    --inptTextAc: #374151;

    --bgYtb:#c92b2b;
    --txtYtb:#F6F6F6;
    
    /*principais cores de botoes*/
    --button: #dddd;
    --border: #cccc;
    --buttonTxtColor:#6C757D;
    --buttonBorderColor:#cccc;
    --bt-primary: #487CFF;
    --bt-txt-primary: #FFFF;

    --textTab:#6C757D;
    --btTab:#D9D9D9;


    /*toggle Buttons*/
    --tbdefault: #6C757D;
    --tbActive: #0c6cc0;
    --tbDisabled: #6c757d60;

    /*MEDIA*/
    --bgMedia: #6c757d60;
    --txtMediaHover : #215885;

    /*any colors*/
    --green-strong: #329B2E;
    --greenActive: #16a34a;
    --greenSec:#15803d;
    --green-inner:#D8EFD7;
    --green-ligth:#F1FCF0;

    --listSelected: #afd4ad75;

    --blue-strong:#0038C5;
    --blue-inner:#487CFF;
    --blue-ligth:#92B1FF;

    --btHoverConfirm: #329b2e;
    --btColorConfirm: #FFFF;

}
[data-theme="dark"] {
    --background: #222222;
    --bgPanel: #272727;
    --panelBorder: #797979cc;
    --bg-default: #383838cc;

    /*Buttons form*/
    --btBgColor:#272727;
    --btBdColor: #797979cc;
    --btTxColor: #f0f0f0;
    --btSwColor: #22c55e;

    --text: #e0e0e0;
    --textListHover: #cccc;

    --button: #6C757D;
    --buttonTxtColor: #ffffff;
    --border: #797979cc;
    --buttonBorderColor: transparent;

    /*Text colors*/
    --txtSalle: #e0e0e0;
    --txtDefault:#e0e0e0;


    /*Errors*/
    --bgError: #1f1f1fcc;
    --txtDanger: #db2c3b;

     --bgErrorForm: #1f1f1f ;
    --txtErrorForm: #e0e0e0 ;

    /* principais cores de input */
    --inptBg: #222222;
    --inptBorder: #797979cc;
    --inptText: #ffffff;

    --textTab: #F4F4F4;
    --btTab: #797979cc;

    /* DefaultCardsColors */
    --bgCardItem: #2f2f2f;
    --bgCardSubITem: #2b2b2b;
    --borderCard: #5f5f5f;
    --borderCardActive: #22c55e;
    --borderCardDisable: #166534;

    --bgCartItemActive: #12301d;

    --textCardActive: #ffffff;
    --textCardStrong: #f4f4f4;
    --textCard: #d1d5db;
    --textCardLast: #9ca3af;
}