
:root {
    /*background principais da aplicação*/
    --background: #ffffff;
    --bgPanel:#F4F4F4;
    --bg-default: #ffff;
    --panelBorder:#CDCDCD;

    --bgGradientColor1: #e4e4e46c;
    --bgGradientColor2: #72727200;
    --bgGradientColor3:#79797960;

    /*principais cores de texto*/
    --txt-err: red;
    --txtDanger:rgb(172, 29, 64);
    --text: #6C757D;
    --txt-strong: black;

    /*principais cores de texto açoes de usuario*/
    --text-hover:#184369;
    --textListHover: #184369; 
    
    --bgListSelect : #184369;
    --txtListSelect: #F5F5F5;
     
    --bgListHover : #215885;
    --txtListHover: #F5F5F5;

    /*princiapais cores de input*/
    --inptBg:#ffffff;
    --inptBorder: #cccc; 
    --inptText: #6c757d;

    /*principais cores de botoes*/
    --button: #dddd;
    --border: #cccc;
    --buttonTxtColor:#6C757D;
    --buttonBorderColor:#cccc;
    --bt-primary: #487CFF;
    --bt-txt-primary: #FFFF;

    --textTab:#6C757D;
    --btTab:#D9D9D9;


    /*toggle Buttons*/
    --tbdefault: #6C757D;
    --tbActive: #0c6cc0;
    --tbDisabled: #6c757d60;

    /*MEDIA*/
    --bgMedia: #6c757d60;
    --txtMediaHover : #215885;

    /*any colors*/
    --green-strong: #329B2E;
    --green-inner:#D8EFD7;
    --green-ligth:#F1FCF0;

    --blue-strong:#0038C5;
    --blue-inner:#487CFF;
    --blue-ligth:#92B1FF;

    --btHoverConfirm: #329b2e;
    --btColorConfirm: #FFFF;

}

[data-theme="dark"] {
    --background: #222222;
    --bgPanel:#272727;
    --panelBorder:#797979cc;
    --bg-default: #383838cc;

    --text: #e0e0e0;
    --textListHover: #cccc; 

    --button: #6C757D;
    --buttonTxtColor:#ffff;
    --border: #797979cc;
    --buttonBorderColor:transparent;
    
    /*princiapais cores de input*/
    --inptBg: #222222;
    --inptBorder: #797979cc; 
    --inptText: #ffff;

    --textTab:#F4F4F4;
    --btTab:#797979cc;
}
