.p-card.create-entity-bc{
    gap: 15px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.p-card.create-entity-bc .card-title{
    justify-content: space-between;
    align-items: end;
}
.p-card.create-entity-bc .card-title .title span{
    font-size: 12pt;
}

.p-card.create-entity-bc .p-card-content button{
    width: 100%;
}


.p-card.create-entity-bc .p-card-content span{
    text-align: center;
}
