.sub-content{
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 10px;
}

.container-control{
    flex: 1;
}
.button-complete{
    display: flex;
    align-items: center;
    justify-content: center;
}