.search_select select{
    width: 150px;
    cursor: pointer;
    text-align: start;
}

.md-card-row .input-search input[type="number"]::-webkit-inner-spin-button,
.md-card-row .input-search input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.md-card-row .input-search input[type="number"]{
    appearance: textfield;
}