
/*CONTROLE DE ESPAÇO DA DIREITA AJUSTANDO O CONTEUDO DA PAGINA - TAMANHO DA ASIDE*/
.aside-container{
    flex: 1;
    max-width: 350px;

    transition: all 500ms ease;
}

/*CONTEUDO EXIBIDO OU NAO*/
.panel-aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    max-width: 350px;
    width: 100%;
    padding: 15px 5px;
    
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 50;
    background-color: var(--bgPanel);
}

/*AÇOES DE CONTROLE ATIVOS PELO TOGGLE*/
.aside-closed.aside-container .panel-aside{
    display: none;
}
.aside-closed.aside-container{
    max-width: 0px;
}

.panel-aside .content-buttons{
    display: flex;
    justify-content: space-between;
}
.panel-aside .content-buttons button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    min-height: 25px;
    min-width: 100px;
}

.panel-aside ul{
    list-style: none;
}

.fieldProdDetailList{
    padding: 5px 0;
    flex: 1;
    margin-bottom: 25px;
}

.panel-aside .step-name{
    background-color:var(--bg-default);
    padding: 10px;
    text-transform: uppercase;
    margin-top: 15px;
    font-weight: 900;
}
.panel-aside .fieldSteped-values{
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.panel-aside .fieldSteped-values span{

    margin-left: 15px;
}
.panel-aside .stFirst{
    font-weight: 600;
}



@media (min-width:320px) {
    .panel-aside{
        max-width: 100%;
    }
    .aside-container{
        max-width: 0px;
    }
}

@media (min-width:728px) {
    .panel-aside{
        max-width: 50%;
    }
}

@media (min-width:1024px) {
    .panel-aside{
        max-width: 350px;
    }
    .aside-container{
        max-width: 350px;
    }
}
