.pd-content{
    background-color:var(--bg-default);

    height: 100%;
    max-width:1200px;

    margin: 0 auto;
    padding: 0 5px;

    display: flex;
    flex-direction: column;
    position: relative;

    overflow-y: auto;
    overflow-x: hidden;
}

.product_header_mobile{
    width: 100%;
    min-height: 45px;
    
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.product_header_mobile .pricing{
    font-size: 14pt;
    font-weight: 900;
    margin-left:  auto;
    
    height: 100%;
    
    display: flex;
    justify-content: end;
    align-items: end;
}

.pd-main{
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    justify-content: space-between;
    position: relative;
    min-height: 100vh;
}

.pd-title{
    text-align: center;
}
.pd-media{
    position: relative;

    margin:  0 auto;

    width: 100%;
    max-width: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;


    background-color: var(--bgCardSubITem);
    border-radius: 12px;
}
.pd-media .showMovieDetails{
    position: absolute;
    background-color: transparent;
    color: var(--bgYtb);
    border: none;

    height: 100px;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;

    margin: 0 auto;
    padding: 0;
}
.pd-media .showMovieDetails svg{
    width: 100%;
    height: 100%;
}

.pd-market{
    margin:  0 auto;
    flex: 1;
}
.pd-description{
    margin: 25px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.pd-description .pd-d{
    padding: 5px 25px;
}
.pd-marketing-images{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.pd-marketing-images img{
    width: 100%;
    height: 100%;
    border:  1px solid var(--borderCard);
    height: 100%;
    object-fit: contain;
}

.button-larger{
    background-color: var(--inptWarning);
    color: var(--inptTextLight);
    max-width: 400px;
    width: 100%;
}
.closeDetail{
    position: absolute;
    bottom: 5px ;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}
.product_header{
    display: flex;
    flex-wrap: wrap;
}

.product_header .pricing{
    font-weight: 900;
    font-size: 14pt;
    align-items: end;
    flex: 1;
    text-align: end;
}
@media screen  and (max-width:1024px) {
    .product_header_mobile{
        display: flex;
    }
}