.stock-item {
    display: grid;

    grid-template-columns:
        minmax(0, 1fr)
        auto;

    align-items: center;

    gap: 16px;

    min-height: 42px;

    padding: 8px 0;

    border-bottom: 1px solid var(--panelBorder);
}

.stock-item:last-child {
    border-bottom: none;
}

.stock-item-info {
    min-width: 0;
}

.stock-item-label {
    display: block;

    overflow: hidden;

    font-size: .82rem;
    font-weight: 500;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.stock-item-value {
    min-width: 65px;

    padding: 5px 9px;

    border-radius: 7px;

    background: rgba(0, 0, 0, .05);

    color: #777;

    font-size: .75rem;
    font-weight: 600;

    text-align: center;

    white-space: nowrap;
}

.mt-5{
    margin-top: 15px;
}