.current-image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgPanel);
    height: 350px;
}
.current-image img{
    width: 100%;
    height: 100%;
    margin:  auto 0;
    object-fit: cover;
}

.current-image .insert-image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.current-image .insert-image svg{
    width: 45px;
    height: 45px;
    margin-bottom: 15px;
}