.Auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.Auth::before{
    content: "";
    position: absolute;

    left:0;
    top:0;
    
    width: 50%;
    height: 100%;
    
    background-image: url("../../assets/auth/5667001.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;

    z-index: -1;
}

.AuthDark::before{
    background-image: url("../../assets/auth/5667002.png");
}

.pre-box{
    background:linear-gradient(  var(--bgGradientColor1) , var(--bgGradientColor2),  var(--bgGradientColor3)) ;
   
    width: 100%; max-width: 1200px;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    position: relative;
}

.fixed-text{
    z-index: 0;

    max-width: 40%;
    width: 100%;

    margin: 20px;
    padding:  0 5px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.fixed-text h1{
    font-size: 34pt;
}

.alocate{
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 100;
}

@media only screen and (max-width:780px ) {
    .fixed-text{
        position: absolute;
        bottom: 0;
        text-align: end;
    }

    .form-auth-content{
        top: auto; bottom: auto;
        right: auto; left: auto;
    }
    .Auth::before{
        width: 100%;
        height: 35%;
    }
}
@media only screen and (max-width:650px) {

    .fixed-text{
        display: none;
    }
    .form-auth-content{
        left: 0;
    }
    .auth-input-group{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .auth-input-group label{
        width: 100%;
    }
    .form-auth-content h1{
        text-align: center;
    }
}