
.selected{
    display: flex;
    align-items: center;
    gap: 10px;
    
    padding: 10px 0;
    width: 100%;

    border: 1px solid transparent;
    border-radius: 10px;

    background: var(--bgCardItem);
}

.selected-icon{
    width: 30px ;
    height: 30px ;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--bgCardItem);
    color:  var(--textCardActive);
    border: solid 1px var(--borderCard);

    border-radius: 8px;
}

.selected-info{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.selected-info strong{
    color: var(--textCard);
    font-size: 15px;
}

.selected-info span{
    color: var(--textCard);
    font-size: 13px;
}

.selected.active .selected-icon{
    background-color: var(--borderCardActive);
    border: 1px solid  var(--borderCardActive);
}