.aside-product{
    flex: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aside-header{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    border-radius: 12px;
    padding: 5px 15px;
}

.bt_show_product{
    background-color: var(--bt-primary);
    color: var(--bt-txt-primary);
    width: 100%;
}

.aside-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    user-select: none;
    gap: 10px;
    
}

.list-content{
    padding: 5px 0;
}


.list-content:hover{
    color: var(--blue-ligth);
}


.list-content .title{
    border-top: 1px solid var(--panelBorder);
    height: 35px;
    font-weight: bolder;
    font-size: 12pt;
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
}

.list-content .title svg{
    width: 20px;
    height: 20px;
    margin-right: 5px;

}
.list-content .bt-svg-edit:hover{
    color: var(--inptWarning);
}

.bt-svg-edit{
    position: absolute;
    right: 5px;
    cursor: pointer;

    transition:  .4ms ease;
}
.bt-svg-edit:hover{
    transform: translateY(-2px);
}

.list-content li{
    padding: 2px 30px;
    display: flex;
}
.list-content li span{
    font-size: 10pt;
}

.list-content li p{
    margin-left: 5px;
    font-style: italic;
    font-size: 8pt;
}

.list-content ul li .active{
    background-color: red;
}