.aside-product{
    flex: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aside-header{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    border-radius: 12px;
    padding: 5px 15px;
}

.bt_show_product{
    background-color: var(--bt-primary);
    color: var(--bt-txt-primary);
    width: 100%;
}

.aside-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    user-select: none;
    max-height: 700px;
    overflow-y: auto;
    gap: 10px;
    
}

.list-content{
    padding: 5px 0;
}


.list-content:hover{
    color: var(--blue-ligth) !important;
}
.list-content:hover p{
    color: var(--blue-ligth);
}

.list-content .title{
    border-top: 1px solid var(--panelBorder);
    height: 35px;
    font-weight: bolder;
    font-size: 12pt;
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
}

.list-content .title svg{
    width: 20px;
    height: 20px;
    margin-right: 5px;

}
.list-content .bt_svg_edit:hover{
    color: var(--inptWarning);
}

.bt_svg_edit{
    position: absolute;
    right: 5px;
    
    cursor: pointer;
    
    height: 25px;
    width: 35px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  .4ms ease;
}
.bt_svg_edit:hover{
    transform: translateY(-2px);
}
.bt_svg_edit svg{
    width: 25px;
    height: 25px;
}

.aside-list{
    padding-bottom: 25px;
}

.list-content li{
    padding: 2px 30px;
    display: flex;
}
.list-content li span{
    font-size: 10pt;
}

.list-content li p{
    margin-left: 5px;
    color: var(--txtAction);
}

.preview-object{

    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}
.preview-object strong{
    padding-right: 15px;
}

.sub-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 5px;
}