.product_content{
    background-color: var(--bgCardSubITem);
    
    max-width: 300px;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    
    position: absolute;
    right: 0;
    top: 0;
    
    z-index: 10;
    padding: 15px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.product_header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    align-items: center;
    gap: 10px;
}
.product_header h2{font-size: 14pt;}

.portable_snippet{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_sale_details{
    padding: 15px 0;
    width: 100%;
}
.product_sale_details ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product_sale_details ul li{
    background-color: var(--bgCardItem);
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    border-radius: 8px;
}
.product_sale_quantity{
    background-color: var(--bgCardItem);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: end;
    padding: 5px 15px;
}


@media screen  and (max-width:1023px) {
    .product_content{
        position: relative;
        max-width: none;
        max-height: none;
        height: auto;
    }
    .product_header{
        display: none;
    }
}
@media screen and (min-width:1100px) {
    .product_content{
        max-width: 350px;
    }
}
@media screen and (min-width:1240px) {
    .product_content{
        max-width: 400px;
    }
}