.information {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.information .identfications, 
.information .code-references, 
.information .description{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.information .circle-tag{
    margin-bottom: 10px;
}

.information .identfications div{
        max-width: 48%;
    width: 100%;
}
.information .identfications{
    justify-content: space-between;
}

.information .description div{
    width: 100%;
}
.information .description img{
    max-width: 200px;
}
@media screen  and (max-width:600px) {
    .information .identfications div{
        max-width: 100%;
    }
}
