.field-md-10{
    width: 100%;
    padding: 25px;
}
.field-md-10 div  {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.information{
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.title-card-step{
    width: 100%;
    padding: 5px ;
    display: flex;
    flex-direction: column;
}
.step-row{
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--textCard);
}

.information .title-card-step h1{
    font-size: 16pt;
}

.information .title-card-step h2{
    font-size: 14pt;
}

@media screen and (max-width:900px) {
    .information .md-card-row div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .information .md-card-row select{
        max-width: 400px;
    }
}

@media screen and (max-width:900px) {
    .information .title-card-step h1{
        font-size: 15pt;
    }

    .information .title-card-step h2{
        font-size: 14pt;
    }
    .information .title-card-step{
        gap: 6px;
    }

}