.input-prefixes{
    position: relative;
    height: 35px;
    width: max-content;
    padding: 0 5px;
}
.input-prefixes input{
    margin: 0;
    padding-left: 35px;
}
.input-prefixes strong{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-prefixes select{
    margin: 0;
    width: 200px;
    padding-right: 10px;
}

.layout_pcost{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    gap: 10px;
    
    padding: 10px;

    border: 1px solid var(--borderCard);
    
    min-height: 100px;

    background-color: var(--bgCardItem);

    border-radius: 12px;
}

.content-pcost{
    padding: 5px 0;
}

.pcost input{
    max-width: 300px;
    text-align: end;
    padding-right: 25px;
}
.ptaxes input{
    padding-left: 0;
    padding: 0 35px;
    text-align: center;
    max-width: 120px;
}
.ptaxes strong{ right: 0;}

.content-pricing{
    display: flex;
    flex-direction: column;
}

.content-price-suggested{
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

.content-price-suggested .selling{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.content-price-suggested .selling svg{
    height: 35px;width: 35px;
    color: var(--borderCardDisable);
}

