.scob-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 800px;
    height: 100%;
    
    padding: 10px 5px;
    margin: 0 auto;

    z-index: 100;

    transition: all 300ms ease;
}
.scob-content input{
     height: 35px;
     border: 1px solid var(--inptBorder);
     background-color: var(--inptBg);
     color: var(--inptText);
     border-radius: 5px;
     flex: 1;
     padding-left: 15px;
     outline: 1px solid var(--inptBorder);
}

.field-search-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center ;
    min-height: 35px;
}
.field-search-content button{
    height: 35px;
    margin-left: 5px;
    width: 120px;
}

.result-search{
    display: flex;
    flex-direction: column;
}
.filter-result{
    display: flex;
    max-width: 300px;
    margin-left: auto;
}
.table-content{
    background-color: var(--inptBg);
    min-height: 500px;
    overflow: auto;
}
.result-search table{
    background-color: var(--inptBg);
    border: 1px solid var(--inptBorder);
    width: 100%;
}
.result-search table thead{
    border: 1px solid var(--inptBorder);
}

.result-search table tbody tr{
    text-align: center;
    height: 25px;
    cursor: pointer;
}

.table-id{
    width: 55px;
}

.result-search table tbody tr:nth-child(odd){
    background-color: var(--inptBorder);
    text-align: center;
}

.result-search table tbody tr:hover{
    background-color: var(--bgListHover) !important;
    color: var(--txtListHover);
}
.result-search .active-row{
    background-color: var(--bgListSelect) !important;
    color: var(--txtListSelect);
}

.checkValue{
    margin-top: 5px;
    border: 1px solid var(--inptBorder);
    color: var(--inptText);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px 0;
    min-height: 150px;
}

#selectedValue{
    max-width: 300px;
    max-height: 35px;
    height: 100%;
    text-align: center;
    padding: 0;
}

.checkValue button {
    max-width: 300px;
    width: 100%;
    border: 1px solid var(--border);
    color: var(--inptText);
}

.pagination-content{
    display:flex;
    align-items:center;
    justify-content: space-between;
    gap:10px;
    margin-top:5px;
}

.pagination-content button{
    padding:5px 12px;
    cursor:pointer;
}

.pagination-content select{
    padding:5px;
    border-radius: 5px;
    border-color: var(--inptBorder);
    color: var(--inptText);
    background-color: var(--inptBg);
    cursor: pointer;
    outline: none;
}

.pagination-content option{
    cursor: pointer;
}
