.form-auth-content{
    background-color: var(--background);
    color: var(--text);

    z-index: 50;
    right: 0; 

    top: 0; bottom: 0;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 25px;

    width: 100%;
    max-width: 350px;

    margin: 5px;
    padding: 15px;
    user-select: none;
}
.form-auth-content h1{
    margin: 25px 0;
}
.input-content{
    
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

    max-height: 350px;
}
.check-box-save{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.check-box-save label{
    cursor: pointer;
    margin-right: 5px;
}
.check-box-save input{
    cursor: pointer;
    height: 20px; width: 20px;
}

.auth-error{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.auth-error span{
    color: var(--txtDanger);
    display: block;
}

.toggle-form button{
    width: 100%;
}

.bt-action{
    background-color: var(--blue-inner);
    color: var(--inptTextLight);
    max-width: none;
}
@media only screen and (max-width:650px) {
    .form-auth-content {
        max-width: none;
    }
}